
<app-header></app-header>
<!-- Page Add Section Begin -->
<!-- <section class="page-add cart-page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Cart<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section> -->
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->

<div class="cart-page" *ngIf="!cartEmpty">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                      <th></th>
                        <th class="product-h">Product</th>
                        <th class="size-hd">Size</th>
                        <th class="quan">Quantity</th>
                        <th class="price">Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart_items">
                      <td class="product-close"><div (click)="removeitem(item)"><span class="fa fa-times-circle" style="color: rgb(27, 27, 27)"></span></div></td>
                        <td class="product-col">
                            <img src="{{item.product_img}}" alt="">
                            <div class="p-title">
                                <h5>{{item.product_name}}</h5>
                            </div>
                        </td>
                        <td class="size">{{item.size}}</td>
                        <td class="quantity-col">
                            <div class="pro-qty">                                
                                <span> {{item.quantity}}</span>  &nbsp;                              
                                <span>
                                    <span mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-hidden="true">
                                       <span class="fa fa-caret-down" style="cursor:pointer;"></span>
                                    </span>
                                      <mat-menu id="account-menu" #beforeMenu="matMenu" xPosition="before">
                                        <span mat-menu-item (click)="changeQuantity(item,1)" >1</span>
                                        <span (click)="changeQuantity(item,2)" mat-menu-item>2</span>
                                        <span (click)="changeQuantity(item,3)" mat-menu-item>3</span>
                                        <span (click)="changeQuantity(item,4)" mat-menu-item>4</span>
                                        <span (click)="changeQuantity(item,5)" mat-menu-item>5</span>
                                        <span (click)="changeQuantity(item,6)" mat-menu-item>6</span>
                                        <span (click)="changeQuantity(item,7)" mat-menu-item>7</span>
                                        <span (click)="changeQuantity(item,8)" mat-menu-item>8</span>
                                      </mat-menu>
                                    </span>
                            </div>
                        </td>
                        <td class="total">{{item.product_price}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="cart-btn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="coupon-input">
                        <input type="text" placeholder="Enter cupone code">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                    <div class="site-btn clear-btn">Remove From Cart</div>
                    <div class="site-btn update-btn">Update Cart</div>
                </div>
            </div>
        </div> -->
    </div>
    
    <div class="shopping-method">
        <div class="container">
            <div class="free_delivery">
                <div *ngIf="subtotal<=500" style="color:grey">
                    Shop above 500 to get free delivery
                </div>
                <div *ngIf="subtotal>500" style="color:green;">
                    You are eligible for free delivery
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="total-info">
                         <div class="total-table">
                            <table>
                                <thead>
                                    <tr>
                                        <!-- <th class="total">Total</th> -->
                                        <th class="subtotal">Subtotal</th>
                                        <th class="shipping">Shipping</th>
                                        <th class="total-cart">Amount to Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td class="total">699.00</td> -->
                                        <td class="sub-total">{{subtotal}}</td>
                                        <td class="shipping">{{shipping}}</td>
                                        <td class="total-cart-p">{{total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a href="check-out-items" class="primary-btn chechout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cartEmpty" class="container empty-cart">
    <img src="../../../assets/img/empty_cart.png" width="157px">
    <div style="margin-top: 7%;">
        Your Cart is empty continue <a href="/home" style="text-decoration:none;">Shopping</a>
    </div>
</div>
<!-- Cart Page Section End -->
