.hero-bread{
  height:360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-bread .slider-text h1{

    font-family: "Courier New", Courier, monospace;
    color: brown;
    margin-top: 6rem;
    font-size: 80px;
    text-transform: uppercase;

}
.blog-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }


.ftco-section {
  padding: 9em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .	{
      padding: 6em 0; } }
.ftco-section .container h2 {
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}
.ftco-section .container .u {
  background-color: rgb(77, 153, 153);
  height: 2px;
  border: none;
}
.ftco-section .container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px; }
.block-21 .text {
  width: calc(100% - 100px); }
  .block-21 .text .heading-1 {
    font-size: 18px;
    font-weight: 300; }
    .block-21 .text .heading-1 a {
      color: #000000; }
      .block-21 .text .heading-1 a:hover, .block-21 .text .heading-1 a:active, .block-21 .text .heading-1 a:focus {
        color: #ffa45c; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .block-21 .text .meta > div a {
      color: gray; }
.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid #ccc;
  font-size: 11px; }
  .tagcloud a:hover {
    border: 1px solid #000; }

    .sidebar-box {
      margin-bottom: 30px;
      padding: 25px;
      font-size: 15px;
      width: 100%;
      background: #fff; }
      .sidebar-box *:last-child {
        margin-bottom: 0; }
      .sidebar-box h3.heading {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px; }

    .categories, .sidelink {
      padding: 0; }
      .categories li, .sidelink li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #dee2e6;
        list-style: none; }
        .categories li:last-child, .sidelink li:last-child {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0; }
        .categories li a, .sidelink li a {
          display: block;
          color: #000000; }
          .categories li a span, .sidelink li a span {
            position: absolute;
            right: 0;
            top: 0;
            color: #ccc; }
        .categories li.active a, .sidelink li.active a {
          color: #000000;
          font-style: italic; }


          .comment-form-wrap {
            clear: both; }

          .comment-list {
            padding: 0;
            margin: 0; }
            .comment-list .children {
              padding: 50px 0 0 40px;
              margin: 0;
              float: left;
              width: 100%; }
            .comment-list li {
              padding: 0;
              margin: 0 0 30px 0;
              float: left;
              width: 100%;
              clear: both;
              list-style: none; }
              .comment-list li .vcard {
                width: 80px;
                float: left; }
                .comment-list li .vcard img {
                  width: 50px;
                  border-radius: 50%; }
              .comment-list li .comment-body {
                float: right;
                width: calc(100% - 80px); }
                .comment-list li .comment-body h3 {
                  font-size: 20px; }
                .comment-list li .comment-body .meta {
                  text-transform: uppercase;
                  font-size: 13px;
                  letter-spacing: .1em;
                  color: #ccc; }
                .comment-list li .comment-body .reply {
                  padding: 5px 10px;
                  background: #e6e6e6;
                  color: #000000;
                  text-transform: uppercase;
                  font-size: 11px;
                  letter-spacing: .1em;
                  font-weight: 400;
                  border-radius: 4px; }
                  .comment-list li .comment-body .reply:hover {
                    color: #fff;
                    background: black; }
 .tagcloud a{
  text-decoration: none;
}
.hero-bread .back-home a{
  text-decoration: none;
  color:brown;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
}
