<app-header></app-header>

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Shirts<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        <div class="row" *ngIf="singleProduct">
            <div class="col-lg-6" *ngIf="innerWidth>=850px">
                <div class="product-slider">
                    <div class="product-img">
                        <figure>
                            <img src="{{img_src}}" alt="">
                            <div class="p-status">Trending</div>
                            <div class="imgs">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <img src="{{singleProduct[0].img1}}" style="height:70px;width:60px"
                                        (click)="openimg1()" [ngClass]="{'border-class': img_id === 1}">
                                    </li><br>
                                    <li *ngIf="singleProduct[0].img2">
                                        <img src="{{singleProduct[0].img2}}" style="height:70px;width:60px"
                                         (click)="openimg2()" [ngClass]="{'border-class': img_id === 2}">
                                    </li><br>
                                    <li *ngIf="singleProduct[0].img3">
                                        <img src="{{singleProduct[0].img3}}" style="height:70px;width:60px"
                                         (click)="openimg3()" [ngClass]="{'border-class': img_id === 3}">
                                    </li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                </div>

            </div>
            <div id="demo" class="carousel slide" data-interval="false" *ngIf="innerWidth<850px">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{singleProduct[0].img1}}" alt="drs1">
                    <div class="p-status">Trending</div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{singleProduct[0].img2}}" alt="drs2">
                    <div class="p-status">Trending</div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{singleProduct[0].img3}}" alt="drs3">
                    <div class="p-status">Trending</div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>


            <div class="col-lg-6">
                <div class="product-content">
                    <h3>{{singleProduct[0].product_name}}</h3>
                    <div class="pc-meta">
                        <h4>Rs. {{singleProduct[0].price}}</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="size">
                      <div><h5>SELECT SIZE</h5></div>
                      <button type="button" (click)="size_id=1" [ngClass]="{'size-selected': size_id === 1}" class="btn btn-outline" style="margin-left: -5px">S</button>
                      <button type="button" (click)="size_id=2" [ngClass]="{'size-selected': size_id === 2}" class="btn btn-outline">M</button>
                      <button type="button" (click)="size_id=3" [ngClass]="{'size-selected': size_id === 3}" class="btn btn-outline">L</button>
                      <button type="button" (click)="size_id=4" [ngClass]="{'size-selected': size_id === 4}" class="btn btn-outline">XL</button>
                    </div>

                    <div (click)="carted(singleProduct[0])" class="primary-btn pc-btn">
                      Add to cart
                      <i class="fa fa-shopping-bag" aria-hidden="true" style="margin-left:10px"></i>
                    </div>
                    <a href="#" id="buy-now" class="primary-btn pc-btn">&nbsp;&nbsp;&nbsp;Buy Now&nbsp;&nbsp;&nbsp;</a>
                    <div class="delivery-check">
                        <h5>DELIVERY OPTIONS
                            <i class="fa fa-truck" aria-hidden="true"></i>
                          </h5>
                        <form class="mob-search">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="pincode">
                              <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                  <span style="color: orange;font-weight: 500;">Check</span>
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                    <div class="desc">
                        <div><h5>PRODUCT DETAILS
                          <i class="fa fa-file-text-o" aria-hidden="true" style="margin-left: 3px;"></i>
                        </h5>
                        </div>
                            <span>Pink solid woven regular top with embellished detail, has a round neck, three-quarter sleeves, button closure</span>
                        <div class="details">
                        <div>Size & Fit</div>
                        <span>The model (height 5'8") is wearing a size S</span>

                        <div>Material & Care</div>
                            <span>Polyester</span><br>
                            <span>Hand-wash</span>
                          </div>
                            <ul class="tags">
                                <li><span>Category :</span> Women’s Wear</li>
                                <li><span>Tags :</span> woman, shirt, ruffle, top, cool</li>
                            </ul>
                    </div>
                    <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="../../assets/img/products/img-1.jpg" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>Green Dress with details</h6>
                        <p>$22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="../../assets/img/products/img-2.jpg" alt=""></a>
                        <div class="p-status sale">sale</div>
                    </figure>
                    <div class="product-text">
                        <h6>Yellow Maxi Dress</h6>
                        <p>$25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="../../assets/img/products/img-3.jpg" alt=""></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>One piece bodysuit</h6>
                        <p>$19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="../../assets/img/products/img-4.jpg" alt=""></a>
                        <div class="p-status popular">popular</div>
                    </figure>
                    <div class="product-text">
                        <h6>Blue Dress with details</h6>
                        <p>$35.50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->

<app-footer></app-footer>
